.scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}

.scroll-to-top__button {
	background-color: var(--primary);
	color: white;
	border: none;
	padding: 15px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease, background-color 0.3s ease,
		box-shadow 0.3s ease;
	opacity: 0;
	visibility: hidden;
	transform: translateY(100px);
}

.scroll-to-top__button--visible {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.scroll-to-top__button:hover {
	background-color: #0056b3;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	transform: translateY(-5px);
}
