.tag {
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
    display: block;
    color: #ffd700;
    opacity: 0.18;
    font-weight: 400;
    padding: 0.4rem 2rem;
    letter-spacing: 0.05rem;
    user-select: none;
}