//CommunityAndAchievements.scss
@import '../../scss/mixins';

.community-achievements {
	padding: 4rem 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 56.6rem;
	animation: fadeIn 1s forwards;

	@include respond(tab-port) {
		flex-direction: column;
	}

	&__left {
		flex: 0 0 60%;

		@include respond(tab-port) {
			flex: 0 0 100%;
		}
	}

	&__description {
		color: var(--slate);
		margin-top: 2rem;
		line-height: 1.6;

		&::before {
			content: '<p>';
			font-size: 1.8rem;
			display: block;
			font-family: 'La Belle Aurore', cursive;
			color: #ffd700;
			opacity: 0.7;
			font-weight: 500;
		}

		&::after {
			content: '</p>';
			font-size: 1.8rem;
			font-family: 'La Belle Aurore', cursive;
			color: #ffd700;
			opacity: 0.7;
			display: block;
			font-weight: 500;
		}

		p {
			margin-bottom: 1.5rem;
		}

		.highlight {
			color: var(--primary);
			font-weight: 700;
			position: relative;
			cursor: pointer;
			transition: color 0.3s;

			&:hover {
				color: var(--lightest-slate);
			}
		}

		.highlight-link {
			color: var(--primary);
			font-weight: 700;
			text-decoration: none;
			position: relative;
			transition: color 0.3s;

			&:hover {
				color: var(--lightest-slate);
				text-decoration: underline;
			}
		}
	}

	&__headingPrimary {
		font-size: 4.5rem;
		font-weight: 800;
		line-height: 1;
		letter-spacing: -0.03em;
		margin-bottom: 1.6rem;
		color: var(--lightest-slate);

		&::before {
			content: '<h1>';
			font-size: 1.8rem;
			font-family: 'La Belle Aurore', cursive;
			color: #ffd700;
			opacity: 0.7;
			font-weight: 500;
			display: block;
		}

		&::after {
			content: '</h1>';
			font-size: 1.8rem;
			font-family: 'La Belle Aurore', cursive;
			color: #ffd700;
			opacity: 0.7;
			font-weight: 500;
			animation: fadeIn 1s 1.7s backwards;
			display: block;
		}
	}

	&__subheading {
		font-size: 2.5rem;
		font-weight: 600;
		color: var(--primary);
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		margin-top: 2rem;
	}

	&__card {
		background: var(--light-navy);
		padding: 2rem;
		border-radius: 10px;
		box-shadow: var(--shadow);
		flex: 1 1 calc(50% - 2rem);
	}

	&__cardTitle {
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 1rem;
		color: var(--primary);
	}
}
